.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(32px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .tabSection {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .tabSection button {
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .activeTab {
    font-weight: bold;
    border-bottom: 2px solid #000;
  }
  
  .formSection {
    padding: 10px;
  }
  