
.container {
    display: flex;
    flex-direction: column;
    margin: 30px 1.5rem 0;
}

.caption {
    text-align: center;
    font-weight: lighter;
    font-size: 0.8rem
}

.socialNetworksWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}