
.headerBox {
  height: 52px;
  background-color: #FFFFFF0A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.headerLogoWrapper {
  background-color: #23272f;
  height: 40px;
  width: 80px;
  border-radius: 24px;
}

.headerToolbar {
  display: flex;
  gap: 5px;
}